# Module â€“ Data Manipulation Using Pandas Assignment

## Pandas Assignment 1

### Problem Statement:
You work in XYZ Company as a Python. The company officials want you to build a python program.
### Tasks to be performed with Cars.csv file \:

## Q 1. 
Write a function that takes start and end of a range returns a Pandas series object containing numbers within that range.
In case the user does not pass start or end or both they should default to 1 and 10 respectively.
eg.


range_series() -> Should Return a pandas series from 1 to 10


range_series(5) -> Should Return a pandas series from 5 to 10


range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [25]:
import pandas as pd
def range_series(a=0,b=10):
    return pd.Series(range(a,b))
range_series()

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [24]:
range_series(5)

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [26]:
range_series(5, 10)

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [27]:
#if wee take user input then we have to run this code:

i = int(input("Enter the first number: "))
j = int(input("Enter the second number: "))
print("The pandas series is:\n", range_series(i,j))

Enter the first number: 5
Enter the second number: 10
The pandas series is:
 0    5
1    6
2    7
3    8
4    9
dtype: int64

## Q 2.
2. Create a function that takes in two lists named keys and values as arguments. Keys would be strings and contain n string values. Values would be a list containing n lists. The methods should return a new pandas dataframe with keys as column names and values as their corresponding values


e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe


One Two

0 X A

1 Y B

In [12]:
import pandas as pd
def create_dataframe(keys,values):
  series = pd.Series([],dtype=pd.StringDtype())
  df = pd.DataFrame(columns=keys, data = values)
  return df

ok = create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])
print(ok)

  One Two
0   X   Y
1   A   B

## Q 3.

3. Create a function that concatenates two dataframes. Use previously created function to create two dataframes and pass them as parameters Make sure that the indexes are reset before returning:

In [13]:
def concat_df(df1,df2):
    df3 = pd.concat([df1, df2], ignore_index=True)
    print(df3)

Df1 = create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])
Df2 = create_dataframe(["One", "Two"], [["P", "Q"], ["M", "N"]])

concat_df(Df1,Df2)

  One Two
0   X   Y
1   A   B
2   P   Q
3   M   N

## Q 4.

4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [5]:
import pandas as pd

cars = pd.read_csv (r'P:\DA DS AI\Data Science\Assignments\Module-5-Data-Manipulation-Using-Pandas\cars.csv')
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [15]:
# Printing Details 

print(cars.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000

            qsec         vs         am       gear     carb
count  32.000000  32.000000  32.000000  32.000000  32.0000
mean   17.674828   0.437500   0.406250   3.687500   2.8125
std     1.692055   0.504016   0.498991   0.737804   1.6152
min    14.500000   0.000000   0.000000   3.000000   1.0000
25%    16.892500   0.000000   0.000000   3.000000   2.0000
50%    17.637414   0.000000   0.000000   4.000000   2.0000
75%    18.540000   1.000000   1.000000   4.000000   4.0000
max    22.900000   1.000000   1.000000   5.000000   8.0000

## Q 5.

5. Write a method that will take a column name as argument and return the name of the column with which the given column has the highest correlation. The data to be used is the cars dataset. The returned value should not the column named that was passed as the parameters.

E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [12]:
 # Co-relation Matrix:-

cars.qsec=cars.qsec.fillna(cars.qsec.mean())
corr =cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
print(corr)

print("-----------------------------------------------------")

cars.mpg=cars.mpg.astype(float)

def get_max_correlated_column(a):
    for i in corr[a]:
        if i==1.0:
            corr.loc[a,a]=0
            return corr[a].idxmax(axis=0) #The idxmax() method returns a Series with the index of the maximum value for each column.
    
# By specifying the column axis ( axis='columns' ), the idxmax() method returns a Series with the index of the maximum value for each row.
print(get_max_correlated_column('mpg'))

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.852162 -0.847551 -0.776168  0.681172 -0.867659  0.360351
cyl  -0.852162  1.000000  0.902033  0.832447 -0.699938  0.782496 -0.548775
disp -0.847551  0.902033  1.000000  0.790949 -0.710214  0.887980 -0.385207
hp   -0.776168  0.832447  0.790949  1.000000 -0.448759  0.658748 -0.650674
drat  0.681172 -0.699938 -0.710214 -0.448759  1.000000 -0.712441  0.120175
wt   -0.867659  0.782496  0.887980  0.658748 -0.712441  1.000000 -0.130362
qsec  0.360351 -0.548775 -0.385207 -0.650674  0.120175 -0.130362  1.000000
vs    0.664039 -0.810812 -0.710416 -0.723097  0.440278 -0.554916  0.667873
am    0.599832 -0.522607 -0.591227 -0.243204  0.712711 -0.692495 -0.271763
gear  0.480285 -0.492687 -0.555569 -0.125704  0.699610 -0.583287 -0.203784
carb -0.550925  0.526988  0.394977  0.749812 -0.090790  0.427606 -0.573987

            vs        am      gear      carb
mpg   0.664039  0.599832  0.480285 -0.550925
cyl  -0.810812 -0.522607 -0.492687  0.526988
disp -0.710416 -0.591227 -0.555569  0.394977
hp   -0.723097 -0.243204 -0.125704  0.749812
drat  0.440278  0.712711  0.699610 -0.090790
wt   -0.554916 -0.692495 -0.583287  0.427606
qsec  0.667873 -0.271763 -0.203784 -0.573987
vs    1.000000  0.168345  0.206023 -0.569607
am    0.168345  1.000000  0.794059  0.057534
gear  0.206023  0.794059  1.000000  0.274073
carb -0.569607  0.057534  0.274073  1.000000
-----------------------------------------------------
drat